################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimbirSoftTest/.vs/SimbirSoftTest
/activebc/activebc
/activebc/activebc.tests/obj
/activebc/activebc.tests/bin/Debug/net5.0
/activebc/.vs/activebc
/activebc/activebc.tests/.vs/activebc.tests/DesignTimeBuild
/activebc/activebc.tests/.vs/activebc.tests/v16
