<style type="text/css">
    table, th, td {
        border: 1px solid black;
    }
</style>
@using System.Reflection

@model IEnumerable<Object>
<table style="width:100%">
    @{
        <tr>
            @{
                foreach (PropertyInfo prop in Model.First().GetType().GetProperties())
                {
                    <th>@prop.Name</th>
                }
            }
        </tr>


        foreach (Object obj in Model)
        {
            <tr>
                @{
                    foreach (var prop in obj.GetType().GetProperties())
                    {
                        <th>
                            @prop.GetValue(obj, null)
                        </th>
                    }
                }
            </tr>
        }
    }
</table>
