@model string
<h2>Index:</h2>
@{
    <ul>
        <li><a href="api/Departments">ApiDepartments</a></li>
        <li><a href="Departments">View Departments</a></li>
        <li><a href="Departments/Post">AddDepartments</a></li>
        <li><a href="Departments/Put">EditDepartments</a></li>
        <li><a href="Departments/Delete">DeleteDepartments</a></li>

        <li></li>

        <li><a href="/api/Users">ApiUsers</a></li>
        <li><a href="Users">View Users</a></li>
        <li><a href="Users/Post">AddUsers</a></li>
        <li><a href="Users/Put">EditUsers</a></li>
        <li><a href="Users/Delete">DeleteUsers</a></li>
    </ul>
}
