@model string
<h2>Index:</h2>
@{
    <ul>
        <li><a href="~/Users">View Users</a></li>
        <li><a href="~/Departments">View Departments</a></li>

        <li><a href="~/Departments/Add">AddDepartments</a></li>

        <li><a href="~/api/Users">ApiUsers</a></li>
        <li><a href="~/api/Departments">ApiDepartments</a></li>
    </ul>
}
