@model string
<h2>Index:</h2>
@{
    <ul>
        <li><a href="~/Users">ViewUsers</a></li>
        <li><a href="~/Departments">ViewDepartments</a></li>
        <li><a href="~/api/Users">ApiUsers</a></li>
        <li><a href="~/api/Departments">ApiDepartments</a></li>
    </ul>
}
