



    <form method="post" action="~/Departments/Add">
        <label>Название:</label><br />
        <input type="text" name="department.Name" /><br /><br />
        <input type="submit" value="Register" />
    </form>
